.NewItem {
  border-radius: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;

  display: flex;
  overflow: hidden;
}
.NewItem input {
  border: none;
  margin: 0;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5em;
}
.NewItem input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.NewItem button {
  background-color: none;
  border: none;
  font-size: 1em;
  padding: 0.5em 1em;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.NewItem button:hover {
  background-color: lightgreen;
  color: white;
}
.NewItem button:focus {
  outline: none;
}
